@use "variables";
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
@mixin form-input {
  font-size: 17px;
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@mixin btn {
  font-size: 20px;
  font-weight: bold;
  background: inherit;
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}

@mixin btn-hover {
  background: variables.$color-btn-hover-log-create;
}