$color-white: #ffffff;
$color-bg-header: #3194c0;
$color-modal-log-form: #fcf9f4;
$color-black: #000000;
$color-second-logo-word: #314d22;
$color-first-logo-word: #BCC51EFF;
$color-modal-close: #e00f35;
$color-btn-log-create: #b059e3;
$color-btn-hover-log-create: #e5b8ff;
$color-btn-submit-hover: #e5b8ff;